{
  "FileUploadPath": "",
  "ClientLabel": {
    "XX-XX-XX-XX-XX-XX": "ClientName"
  },
  "AvailableRemoteCommands": {
    "关机(Window)": "shutdown -s -t 0",
    "关机(OSX)": "osascript -e 'tell app \"System Events\" to shut down'",
    "关机(Linux)": "sudo poweroff",
    "打开计算器(Windows)": "calc"
  }
}