{
  "Local": {
    "Device": "WLAN"
  },
  "NetworkDiscover": {
    "IP": "224.50.50.50",
    "Port": 4088,
    "Interval": 5
  },
  "ClassBroadcast": {
    "IP": "225.2.2.19",
    "Port": 4089,
    "Buffer": 65500
  },
  "PrivateMessage": {
    "Port": 4091,
    "Buffer": 32768
  },
  "ScreenBroadcast": {
    "IP": "225.2.2.21",
    "Port": 4092,
    "FFMpegPath": "ffmpeg",
    "FFMpegQuality": 6,
    "Buffer": 1316
  }
}